* {
  background-color: #fff;
}
.title {
  color: #1B2D48;
  font-family: Microsoft New Tai Lue;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 8px;
}
.form-control {
  width: 561px;
  height: 35px;
}
.add {
  font-weight: bold;
  height: 35px;
}
.custom-button {
  background-color: #83AFF0;
  color: #fff;
  border: none;
  font-weight: bold;

  &:hover {
    background-color: #3C649F;
    color: #fff;
  }
}
.card {
  border: none;
  width: 50rem;
}
.material-symbols-outlined {
  font-size: 20px;
}
.completed {
  text-decoration: line-through;
}
.nav-link {
  cursor: pointer;
}
.material-symbols-outlined {
  cursor: pointer;
}
.card-header {
  background-color: #fff;
  border-color: #fff;
}
.nav-item .nav-link {
  padding: 0.5rem 3rem;
  margin: 0 1rem;
  font-size: 20px;
  color: #1B2D48;
  font-weight: bold;
  letter-spacing: 8px;
}
.nav-item .nav-link.active {
  border-bottom: 8px solid #1B2D48; /* 更改选中状态字体粗细 */
  /* 添加其他样式根据需要 */
}
.form-check {
  width: 35rem;
}
